.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.order {
    margin-bottom: 20px;
}

.invoiceHeader {
    font-weight: bold;
}

.submit {
    margin-bottom: 20px;
}